/******        LOADING ANIMATION SECTION             *****/
#loading {
    width: 5rem;
    height: 5rem;
    border: 5px solid var(--grey);
    border-top: 6px solid var(--blue);
    border-radius: 100%;
    margin: 8% auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
    display: none;

    &.display{
        visibility: visible;
    }
}

#loading-text{
    display: none; 
    position: relative; 
    top: -8rem; 
    text-align: center;

    @media (min-width: 768px) and (max-width: 991px) {
        top: -4rem;
    }
    
    @media screen and (max-width: 767px) {
        top: -1rem;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
