/*****      UPLOAD NEW IMAGE SECTION        *****/
.container-fluid .upload-new-link{
    width: 70%;
    display: none;
    margin: 0 auto 5%;
    align-items: center;
    justify-content: flex-start;

    a.new-upload-btn{
        color: var(--black);
        background: var(--grey);
        width: max-content;
        margin-right: 4%;

        &:hover, &:focus{
            color: var(--white);
            background: var(--blue);
        }
    }

    .save-result-btn {
        background: var(--blue);
        color: var(--white);
    }
}

@media (max-width: 991px){

    .container-fluid .upload-new-link{
        width: 96%;
        margin: 11% auto;
    }

}