/***    Variables to hold colors  ***/
:root{
    --blue: #38b6ff;
    --grey: #D3D3D3;
    --white: #fff;
    --black: #000;
    --grey: #f3f3f3;
    --deep-red: #852b3a;
    --light-red: #ffdde2;
    --pale-red: #ffcfd7;
    --light-green-color: #d3f6b5;
    --deep-green-color: #0f580a;
    --backgroundBlur: rgba(0, 0, 0, .5);
    --backgroundBlur-2: rgba(0, 0, 0, 0.05);
    --textBlurBg: rgba(0, 0, 0, 1);
    --box-shadow-color: rgba(0, 0, 0, 0.22);
}
