{% extends 'bootstrap/base.html' %}

{% include "header.html" %}

{% block content %}
    <div class="container-fluid">
        <header>
            <h1 style="text-align: center; font-size: 3.6rem;">Colour Extractor</h1>
        </header>

        <div class="add-image-container" ondragover="dragOver(this, event)" ondragleave="dragLeave(this)" ondrop="drop(this, event)">
            <img onclick="openFiles()" class="upload-icon" src="/static/assets/cloud-icon.svg">
            <h2 class="upload-image-text" onclick="openFiles()">Drag and drop to upload image<br><span class="extensions-allowed">(.jpeg, .jpg, .png)</span><br><br>or</h2>
            <h2 class="upload-image-text-small" onclick="openFiles()">Click to upload image<br><span class="extensions-allowed">(.jpeg, .jpg, .png)</span><br><br>or</h2>
            <label for="upload-img" class="btn browse-btn">
                Browse Files
            </label>
            <input id="upload-img" type="file">
        </div>

        <div class="loaded-image-preview-container">
            <h2>Image: </h2>
            <img src="" class="loaded-image-preview">
        </div>

        <div class="image-details-container">
            <h3>Details: </h3>
            <div class="result-box">
                <div class="color">
                    <h5>Color</h5>
                </div>
                <div class="color-code">
                    <h5>Color Code</h5>
                </div>
                <div class="color-percentage">
                    <h5>Percentage</h5>
                </div>
            </div>
        </div>

        <div id="loading"></div>

        <div class="upload-new-link">
            <a href="{{ url_for('home') }}" class="btn new-upload-btn">Upload New</a>
        </div>
    </div>

{% include "footer.html" %}


{% endblock %}
